
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><b>Covid-19 Pandemic</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" >Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive = "active">
        <a class="nav-link" routerLink='what'>What is Covid-19</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="prevention">Prevention</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='state'>State-Wise Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='travel'>Travel Data</a>
      </li>
    </ul>
    
  </div>
</nav>