
<div class="jumbotron jumbotron-fluid text-center ">
  <h1 class="display-4" > Covid-19 Tracker State Wise</h1>
  <hr>

  <div class="mx-auto" style="padding-left: 500px;">
    <div class="form-group col-lg-5 mx-auto " >
      <label for='st'>Select state</label>
      
      <select class="form-control" id = "c" #input (change) = 'updateValues(input.value)'>
        <option >Select Option:</option>
        <option *ngFor="let st of states" [ngValue]="st">
              {{st}}
          </option>
      </select>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>

<div class="row">
  <div class="card col p-3 m-3">
    <div class="ui statistic">
      <div class="label">
       <h3> Total Confirmed</h3>

      </div>
      <div class="value">
        {{totalconfirmedSt}}
      </div>
    </div>
  </div>

  <div class="card col p-3 m-3">
    <div class="ui statistic">
      <div class="label">
       <h3> Total Active</h3>

      </div>
      <div class="value">
        {{totalactiveSt}}
      </div>
    </div>
  </div>

  <div class="card col p-3 m-3">
    <div class="ui statistic">
      <div class="label">
       <h3> Total Recovered</h3>
      </div>
      <div class="value">
        {{totalrecoveredSt}}
      </div>
    </div>
  </div>

  <div class="card col p-3 m-3">
    <div class="ui statistic">
      <div class="label">
        <h3>Total Deaths</h3>
      </div>
      <div class="value">
        {{totaldeceasedSt}}
      </div>
    </div>
  </div>

</div>
</div>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    
    </head>
    

<div class="container">
<table mat-table [dataSource] = "dataSource" class="table table-sm table-bordered table-dark table-striped table-hover text-center">
    <thead>
    <tr class="  text-center">
        <th>DISTRICT </th>
        <th>CONFIRMED CASES</th>
        <th>ACTIVE CASES</th>
        <th>RECOVERED CASES</th>
        <th>DECEASED CASES</th>
        
        
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let dst of distdata'>
        <td>{{dst.district}}</td>
        <td>{{dst.confirmed}}</td>
        <td>{{dst.active}}</td>
        <td>{{dst.recovered}}</td>
        <td>{{dst.deceased}}</td>
    </tr>
</tbody>
</table>
</div>

<app-footer></app-footer>