<style type="text/css">
body{
    background-image:url(https://www.ecopetit.cat/wpic/mpic/5-52183_dark-grey-sky-background.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat-y;
}
</style>
<body >
<div  ><h1 style="color: white;">What is Covid-19 ??</h1>
<iframe width="1120" height="550" src="https://www.youtube.com/embed/mOV1aBVYKGA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br>
<br>
<mat-accordion>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
        <div class="b">
         <b>Symptoms  </b>
        </div>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
    </mat-expansion-panel-header>
    
    <div class="a">
    <p>People with COVID-19 have had a wide range of symptoms reported – ranging from mild symptoms to severe illness.</p>
    <br>
    <p>Symptoms may appear 2-14 days after exposure to the virus. People with these symptoms may have COVID-19:</p>
    
    <ul>
        <li>Fever or chills</li>
        <li>Cough</li>
        <li>Shortness of breath or difficulty breathing</li>
        <li>Fatigue</li>
        <li>Muscle or body aches</li>
        <li>Headache</li>
        <li>Sore throat</li>
        <li>Congestion or runny nose</li>
        <li>Nausea or vomiting</li>
        <li>Diarrhea</li>
    </ul> 
    <p>This list does not include all possible symptoms. CDC will continue to update this list as we learn more about COVID-19.</p>
    </div>
</mat-expansion-panel>
<br>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
        <div class="b">
         <b>Testing  </b>
        </div>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
    </mat-expansion-panel-header>
    
    <div class="a">
    <p>Two kinds of tests are available for COVID-19: viral tests and antibody tests.</p>
    <br>
    
    
    <ul>
        <li>A viral test tells you if you have a current infection.</li>
        <li>An antibody test tells you if you had a previous infection.</li>
        
    </ul> 
    <br>
    <p>An antibody test may not be able to show if you have a current infection, because it can take 1-3 weeks after infection to make antibodies. We do not know yet if having antibodies to the virus can protect someone from getting infected with the virus again, or how long that protection might last</p>
    <br>
    
    <div class="b">
        <b>Who should be tested ???</b>
    </div><br>
    <p>
        To learn if you have a current infection, viral tests are used. But not everyone needs this test.
    </p>
    <ul>
        <li>Most people will have mild illness and can recover at home without medical care and may not need to be tested.</li>
        <li>CDC has guidance for who should be tested, but decisions about testing are made by state and localexternal icon health departments or healthcare providers.</li>
        <li>
            If you have symptoms of COVID-19 and want to get tested, call your healthcare provider first.</li>
        <li>
            You can also visit your state or local health department’s website to look for the latest local information on testing.</li>
        <li>Although supplies of tests are increasing, it may still be difficult to find a place to get tested.</li>
    </ul>
    <div class="b">
        <b>Result</b>
    </div><br>
    
    <ul>
        <li><b>If you test positive for COVID-19 by a viral test,</b> know what protective steps to take if you are sick or caring for someone.</li>
        
        <li>
            <b>If you test negative for COVID-19 by a viral test,</b> you probably were not infected at the time your sample was collected. However, that does not mean you will not get sick. The test result only means that you did not have COVID-19 at the time of testing.</li>
        
    </ul>
    <p>If you test positive or negative for COVID-19, no matter the type of test, you still should take preventive measures to protect yourself and others.</p>
    </div>
</mat-expansion-panel>

<br>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
        <div class="b">
         <b> How Covid- 19 Spreads ???</b>
        </div>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
    </mat-expansion-panel-header>
    
    <div class="a">
    <p>COVID-19 is thought to spread mainly through close contact from person-to-person. Some people without symptoms may be able to spread the virus. We are still learning about how the virus spreads and the severity of illness it causes.</p>
    <br>
    
    <div class="b">
        <b>Person to Person Spread</b>
    </div><br>
    <p><b>The virus is thought to spread mainly from person-to-person.</b></p>
    <ul>
        <li>Between people who are in close contact with one another (within about 6 feet).</li>
        <li>Through respiratory droplets produced when an infected person coughs, sneezes, or talks.</li>
        <li>These droplets can land in the mouths or noses of people who are nearby or possibly be inhaled into the lungs.</li>
        <li>COVID-19 may be spread by people who are not showing symptoms.</li>
        
    </ul> 
    <br>
    <div class="b">
        <b>The virus spreads easily between people</b>
    </div><br>
    
    <p>
        How easily a virus spreads from person-to-person can vary. Some viruses are highly contagious, like measles, while other viruses do not spread as easily. Another factor is whether the spread is sustained, which means it goes from person-to-person without stopping.
        <b>The virus that causes COVID-19 is spreading very easily and sustainably between people.</b>
         Information from the ongoing COVID-19 pandemic suggest that this virus is spreading more efficiently than influenza, but not as efficiently as measles, which is highly contagious.
    </p>
    <br>
    <div class="b">
        <b>The virus may be spread in other ways</b>
    </div><br>

    <p>It may be possible that a person can get COVID-19 by touching a surface or object that has the virus on it and then touching their own mouth, nose, or possibly their eyes. This is not thought to be the main way the virus spreads, but we are still learning more about how this virus spreads.</p>
    <br>

    <div class="b">
        <b>Spread between animals and people</b>
    </div><br>
    <ul>
        <li>At this time, the risk of COVID-19 spreading from animals to people is considered to be low. Learn about COVID-19 and pets and other animals.</li>
        <li>It appears that the virus that causes COVID-19 can spread from people to animals in some situations. CDC is aware of a small number of pets worldwide, including cats and dogs, reported to be infected with the virus that causes COVID-19, mostly after close contact with people with COVID-19. Learn what you should do if you have pets.</li>
    </ul>
    </div>
</mat-expansion-panel>

<br>
<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
        <div class="b">
         <b>What to do if you are sick ??  </b>
        </div>
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
    </mat-expansion-panel-header>
    
    <div class="a">
    <p>If you have a fever, cough or other symptoms, you might have COVID-19. Most people have mild illness and are able to recover at home. If you think you may have been exposed to COVID-19, contact your healthcare provider.
    </p>
    <ul>
        <li>Keep track of your symptoms.</li>
        <li>If you have an emergency warning sign (including trouble breathing), get emergency medical care immediately.</li>
    </ul>

    <br>

    </div>
</mat-expansion-panel>
</mat-accordion>
<br><br>
</div>
</body>

<app-footer></app-footer>