body{
    background-image:url(https://www.ecopetit.cat/wpic/mpic/5-52183_dark-grey-sky-background.jpg) ;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: repeat-y;
}